body {
    background-color:lavenderblush;
    background-size:100%;
}

h1 {
    font-style:italic;
    font-weight:100;
    font-size:40px;
}

p {
    font-size:18px;
}

h2 {
    list-style:none;
}

#info {
    float: inherit;
}

#OU {
    float:left;
}

img {
    object-fit:scale-down;
    
}

#home {
    background-size: 1280px 720px;
    background-image: url(background.jpg);
}

ul {
    list-style-type: square;
    list-style-position: outside;
}

#education {
    margin-bottom:40px;
}

#leadership {
    margin-bottom: 40px;
}

#experience {
    margin-bottom: 40px;
}

#honor {
    margin-bottom: 40px;
}

#major {
    font-size:15px;
}

#photo {
    float:right;
    margin-top:60px;
    margin-right:200px;
}