body {
    background-color: powderblue;
    /*background-image:url("background.jpg");*/
    background-size:100%;
}

h1 {
    font-style:italic;
    font-weight:100;
    font-size:40px;
}

p {
    font-size:18px;
}

h2 {
    list-style:none;
}

#Left {
    float: left;
}

#Right {
    float:inherit;
}

img {
    object-fit:scale-down;
    
}