body {
    background-color:lavenderblush;
    /*background-image:url("background.jpg");*/
    background-size:100%;
}

h1 {
    font-style:italic;
    font-weight:100;
    font-size:40px;
}

p {
    font-size:18px;
}

h2 {
    list-style:none;
}

#info {
    float: inherit;
}

#OU {
    float:left;
}

img {
    object-fit:scale-down;
    
}

#home {
    background-size: 1280px 660px;
    background-image: url(background.jpg);
}

ul{
    list-style-type:circle;

}

#education {
    margin-bottom:40px;
}

#leadership {
    margin-bottom: 40px;
}

#experience {
    margin-bottom: 40px;
}

#major {
    font-size:20px;
}

/*background="background.jpg"*/